*{
    padding: 0%;
    font-family: 'Dosis', sans-serif;
    box-sizing: border-box;
}
.info_visitar{
    padding-bottom: 1%;
}
.container_visitar{
    margin-top: 2%;
    display: flex;
    justify-content: center;
    column-gap: 15px;
    background-color: #ffffff;
    align-content: center;
    
}
.box_visitar{
display: flex;
margin: 10px;
flex-direction: column;
align-items: center;
justify-content: space-around;
width: 100%;
padding: 10px;
text-align: center;
box-shadow: 0px 0px 5px 0px rgba(50,50,50,0.6);
}
/* .box_estadia  button{
    font-size:24px;
    text-decoration: none;
    border-radius: 0.2em;
    background-color: rgb(255, 255, 255);
}  */
/* .box_estadia .btn1 img{
    max-width: 35px;
    min-width: none;
    max-height: auto;
    min-height: auto;
} */
/* .box_visitar a{
    color: rgb(0, 0, 0);
} */
/* .box_visitar .btn2 img{
    max-width: 35px;
    min-width: none;
    max-height: auto;
    min-height: auto;
} */
.title_box_visitar{
    text-align: center;
}
/* .imagem img{
    width: 250px;
} */

/* @media only screen and (min-width: 640px){
    .container_visitar{
        flex-basis: 50%;
    }
  }

  @media only screen and (min-width: 960px){
    .container_visitar{
        flex-basis: 33.333%;
    }
  }

  @media only screen and (min-width: 1280px){
    .container_visitar{
        flex-basis: 25%;
    }
  } */