*{
    font-family: 'Dosis', sans-serif;
}
.container{
    margin-top: 2%;
    display: flex;
    background-color: #ffffff;
}
.container_texto{
    margin: 10px;
    text-align: justify;
    box-shadow: 0px 0px 5px 0px rgba(50,50,50,0.6);
    border-radius: 1em;
    margin-left: 10%;
    margin-right: 10%;
}
.container_texto p{
    margin: 10px;
}