
body{
  background-image: url(Assets/img/226600056-5acbf129-a489-4262-93ed-faa3f644cc71.jpg);
  background-color: grey;
  background-blend-mode: multiply;
  background-size: cover;
}
.Title_text{
  text-align: center;
}
